<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="course.examples.broadcastreceiver.singlebroadcaststaticregistration"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="course.examples.broadcastreceiver.singlebroadcaststaticregistration.SimpleBroadcast"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="course.examples.broadcastreceiver.singlebroadcaststaticregistration.Receiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="course.examples.BroadcastReceiver.show_toast" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
